{{- if eq .Kind "page" -}}
{{- if eq .Type "recette" -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Recipe",
  "name": "{{ .Title }}",
  "description": "{{ .Description }}",
  "image": [
    {{ with .Params.image }}
    "{{ . | absURL }}"
    {{ else }}
    "{{ .Site.BaseURL }}images/default-recipe.jpg"
    {{ end }}
  ],
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.Author }}"
  },
  "datePublished": "{{ .Date.Format "2006-01-02" }}",
  "prepTime": "PT{{ .Params.preparation_time | replaceRE "[^0-9]" "" }}M",
  "cookTime": "PT{{ .Params.cooking_time | replaceRE "[^0-9]" "" }}M",
  "totalTime": "PT{{ add (.Params.preparation_time | replaceRE "[^0-9]" "" | int) (.Params.cooking_time | replaceRE "[^0-9]" "" | int) }}M",
  "recipeYield": "{{ .Params.servings }}",
  "recipeCategory": "{{ with .Params.categories }}{{ index . 0 }}{{ else }}Recette{{ end }}",
  "recipeCuisine": "{{ if in .Params.categories "Marocain" }}Moroccan{{ else if in .Params.categories "Italien" }}Italian{{ else if in .Params.categories "Français" }}French{{ else }}International{{ end }}",
  "keywords": "{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}",
  "recipeIngredient": [
    {{ range $i, $e := .Params.ingredients }}
    "{{ . }}"{{ if ne (len $.Params.ingredients) (add $i 1) }},{{ end }}
    {{ end }}
  ],
  "recipeInstructions": [
    {
      "@type": "HowToStep",
      "text": "{{ replace (.Description | default .Title) "\"" "'" }}"
    }
  ],
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "{{ .Params.rating }}",
    "ratingCount": "{{ .Params.vote_count }}",
    "bestRating": "5",
    "worstRating": "1"
  }
  {{ with .Params.video }}
  ,"video": {
    "@type": "VideoObject",
    "name": "{{ $.Title }} - Tutoriel Vidéo",
    "description": "{{ $.Description }}",
    "contentUrl": "{{ . }}",
    "uploadDate": "{{ $.Date.Format "2006-01-02" }}"
  }
  {{ end }}
}
</script>
{{- end -}}
{{- end -}}