baseURL = '/'
languageCode = 'fr-fr'
title = 'Banana-Braed : Recettes de Cuisine facile'
theme = 'recettes'

# Configuration propre à Hugo
defaultContentLanguage = "fr"
enableRobotsTXT = true

# CORRECTION CRITIQUE 1 : Permalinks (Pour résoudre le 404)
# Ceci force Hugo à construire les URLs de la section "recettes" en utilisant le chemin /recettes/
[permalinks]
  recettes = "/recettes/:slug/"

# Correction de la syntaxe pour la pagination
[pagination]
  pagerSize = 10 

# Taxonomies Personnalisées pour les recettes
[taxonomies]
  category = "categories"
  tag = "tags"
  plat = "plats"

# CORRECTION CRITIQUE 2 : Configuration du Menu (Pour plus de clarté)
[menu]
  # Ce lien pointe maintenant vers l'index des recettes (/recettes/)
  [[menu.main]]
    name = "Toutes les Recettes"
    url = "/recettes/"
    weight = 10
  # On ajoute un lien vers l'index des Catégories
  [[menu.main]]
    name = "Catégories"
    url = "/categories/"
    weight = 11
  [[menu.main]]
    name = "À Propos"
    url = "/about/"
    weight = 20
  [[menu.main]]
    name = "Contact"
    url = "/contact/"
    weight = 30

[build]
  writeStats = true

  [markup.goldmark.renderer]
  unsafe = true