baseURL = "/"
languageCode = "fr-fr"
title = "Banana Bead"
theme = "recettes"
defaultContentLanguage = "fr"

[params]
  description = "Description de votre site de recettes."
  # Ajoutez ici d'autres paramètres globaux si nécessaire

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true