baseURL = '/'
languageCode = 'fr-fr'
title = 'Banana-Braed : Recettes de Cuisine'
theme = 'recettes'

defaultContentLanguage = "fr"
enableRobotsTXT = true

[permalinks]
  recettes = "/recettes/:slug/"

[pagination]
  pagerSize = 10

[taxonomies]
  category = "categories"
  tag = "tags"
  plat = "plats"

[menu]
  [[menu.main]]
    name = "Toutes les Recettes"
    url = "/recettes/"
    weight = 10
  [[menu.main]]
    name = "Catégories"
    url = "/categories/"
    weight = 11
  [[menu.main]]
    name = "À Propos"
    url = "/about/"
    weight = 20
  [[menu.main]]
    name = "Contact"
    url = "/contact/"
    weight = 30

[build]
  writeStats = true

[markup.goldmark.renderer]
  unsafe = true

[params]
  author = "Chef Galot"