{{ define "main" }}
    <h2 class="text-4xl font-bold mb-6 text-gray-900">Bienvenue sur notre collection de Recettes !</h2>

    <p class="mb-8 text-lg text-gray-600">Explorez nos dernières recettes, toutes optimisées pour un plaisir maximal.</p>
    
    <h3 class="text-2xl font-semibold border-b pb-2 mb-4">Dernières Recettes</h3>
    
    <div class="space-y-6">
    {{ range first 5 (where .Site.RegularPages "Section" "recettes") }}
        <article class="p-4 border rounded-lg shadow-sm bg-white hover:shadow-md transition-shadow">
            <h4 class="text-xl font-bold text-blue-600">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h4>
            <p class="text-sm text-gray-500 mt-1">Publié le : {{ .Date.Format "02 January 2006" }}</p>
        </article>
    {{ end }}
    </div>

{{ end }}